/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: #0074D9;
  color: #EFC050;
  font-family: sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 2px solid white;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.1em;
  text-align: center;
}

th, tr {
  height: 100px;
  width: 20%;
  border: 1.5px solid white;
}